body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    width: 100%;
    padding: 20px;
}

.charts {
    display: flex;
    justify-content: space-between;
}

.chart {
    width: 30%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.map {
    margin-top: 20px;
    background-color: #e0e0e0;
    /* height: 400px; 根据需要调整高度 */
    border-radius: 8px;
} 